body{
    background-color: plum;
}

.correct-answer{

    background-color: green;
}

.wrong-answer{
    background-color: red;
}


.pokemonCard{
    width: 150px;
    height: 310px;
    background-color: antiquewhite;
    margin: 15px;
    border-radius: 10px;
}

#hidden-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#secret_card{
    position: relative;
    left: 40%;
    display: block;
    width: 150px;
    height: 250px;
    background-color: lavenderblush;
    margin: 15px;
    border-radius: 10px;
    font-size: 130px;
    text-align: center;
    
}

#secret_card img{
   
    width: 150px;
    height: 250px;
}

.nameButton{
    font-size: 30px;
}