body{
    background-color: plum;
}

.bigPokemonCard{
   justify-content: center;
    width: 300px; 
    height: 400px;
    background-color: aquamarine;
    border: 10px solid orange;
    border-radius: 10px;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.4);
    background-image: radial-gradient(circle, #dc6c5b, #ed8556, #f7a152, #fcbf52, #f9de5b);

}

#search_small_grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.shinyImage{
    height: 150px;
    width: 200px;
    margin-left: 17%;
    border: 1px solid black;
    justify-content: center;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.4);
    background-image: radial-gradient(circle, #693b08, #905d12, #b6831d, #d9ac29, #f9d838);
}
.smallerImage{
    position: absolute;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: rgba(175, 201, 175, 0.721);
}
.muchText{
    text-overflow: clip;
    max-height: 70px;
    font-size: 10px;
}
.heightAndWeight{
   
    padding: 0;
    margin: 0;
    background-image: radial-gradient(circle, #f2e8a5, #f0e18c, #eedb71, #ecd356, #ebcc35);
    font-style: bold;
    font-size: 12px;
    width: 60%;

}

#search_pokemons{
    height: 50px;
    border-radius: 5px;

}

#search{
    font-size: 20px;
    
}

#searh_bar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

}

#search_button{
height: 35px;
border-radius: 20px;
}

#search_button:hover{
   
}

.nameDiv{
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}

#demo-button{
    height: 50px;
    border-radius: 5px;
}


.pokemonCard{
    width: 175px;
    height: 250px;
    background-color: antiquewhite;
    margin: 15px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    align-items: center;
}

.pokemonCard img{
border: 1px solid black;

}

#card_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

#secret_card{
   

    width: 175px;
    height: 250px;
    background-color: lavenderblush;
    border-radius: 10px;
    font-size: 130px;
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    
}


#secret_card img{
    z-index: 55555.5;
    width: 400px;
    height: 500px;
}
#geuss-container{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   padding-left: 30px;
   margin: 15px;

}
#inner-container{
    
   
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
#score_countdown_play_again{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
#line{
    margin: 0;
    padding: 0;
    
    border-radius: 10px;
    background-color: blanchedalmond;
}



.nameButton{
    font-size: 30px;
}

#type-button{
   padding: 15px;
    font-size: 20px;
    position: relative;
    border-radius: 30px;


}

#ability-button{
    padding: 15px;
    position: relative;
    font-size: 20px;
    border-radius: 30px;

}
#height_button{
    padding: 15px;
    position: relative;
    font-size: 20px;
    border-radius: 30px;
}
#heightSelect{
    position: relative;
    font-family: Arial;
  
}

#abilitySelect{
    position: relative;
  font-family: Arial;


}

#abilitySelect select{
    display: none;
}

.select-selected {
    background-color: DodgerBlue;
  }

#typeSelect{
    position: relative;
  font-family: Arial;

}

#countdown{
   
    font-size: 30px;
    color: black;
 justify-content: baseline;
 border: 1px solid black;
    
    

}

#geuss_count{
    font-size: 30px;
    justify-content: baseline;
    border: 1px solid black;
}

.searchPokemonCard{
    
}